:root{
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	text-spacing:trim-start allow-end trim-adjacent ideograph-alpha ideograph-numeric;
	line-sizing: normal;
}

body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5vh;
	-webkit-font-smoothing: antialiased;
}
*,
::before,
::after{
	box-sizing: border-box;
	text-transform: none;
}
@media(prefers-reduced-motion: reduce){ 
	*{
		animation-duration: 0.001s !important;
		transition-duration: 0.001s !important;
	}
}

h2,h3,h4,h5,h6{line-height: 1;}
/*h1{font-size: 2rem;margin: 0.67rem 0;}
h2{font-size: 1.5rem;}
h3{font-size: 1.17rem;}
h4{font-size: 1.00rem;}
h5{font-size: 0.83rem;}
h6{font-size: 0.67rem;}*/
h1{font-size:200%;margin:0.5rem 0;}
h2{font-size:150%;}
h3{font-size:116.667%;}
h4{font-size:100%;}
h5{font-size:83.333%;}
h6{font-size:66.667%;}
pre{font-family: monospace, monospace;font-size: 1em;white-space:pre-wrap;}
p,ul,ol,dl,address{line-height: 1.5;}
code,kbd,samp{font-family: monospace, monospace;font-size: 1em;}
sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
abbr[title]{border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}
b,strong{font-weight: bolder;}
small {font-size: 80%;}
sub{bottom: -0.25em;}
sup{top: -0.5em;}

a{
	background-color: transparent;
	color: var(--main-color);
	text-decoration: none
}
a:visited{color: var(--button-disabled);}
a:hover,a:active{text-decoration: underline;}
a:focus{text-decoration: none;}

hr{
	box-sizing: content-box;
	height: 0;
	overflow: visible; 
	border: 0.5px solid;
	border: 1px solid rgba(0,0,0,0.1);
}
img,video,canvas,audio,iframe,embed,object,main,details{display: block;vertical-align: middle;}
img,video{max-width:100%;height:auto;}
img{border-style: none;}
nav ul{list-style: none;}
summary{display: list-item;}
template{display: none;}


table{

	caption{
		font-size: 115%;
		font-weight:bold;
		text-align:left;
		background: var(--main-color);
		color: var(--main-text-cl);
		line-height: 1;
		border-radius: 2px 2px 0 0;
		filter: saturate(0.5);
	}
	tr{
		border-spacing: 0;
	}
	th,td{
		padding: .75rem 0 .75rem .75rem;
	}
	th{
		background: var(--background-base-darker);
		text-align: left;
	}
	tbody>tr:nth-child(2n)>td{
		background: var(--background-base-darker);

	}
	td[contenteditable]:active,
	td[contenteditable]:focus{
		outline-color: var(--info);
	}
}
table.pivot{
	tbody{
		tr{
			td:first-child{
				font-weight:bold;
				background: var(--background-base-darker);
				text-align: left;
			}
		}
	}
}


form{
	margin:0;
	padding:0;
	border:0;
	outline:0;

	fieldset{
		padding: 0.35em 0.75em 0.625em;
		border-color: transparent;
		padding-left:1em;
		padding-right:1em;

		legend{
			box-sizing: border-box;
			color: inherit;
			display: table;
			max-width: 100%;
			padding: 0;
			white-space: normal;
			font-size: 120%;
			line-height: 1.5;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			margin: 1em 0 22px 0.5rem;
		}
	}
}