%button{
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	border: 0;
	line-height: 2;
	padding: 0.5em 1em;
	text-transform: uppercase;
	text-align:center;
	text-decoration: none;
	border-radius: 2px;
	background: var(--main-color);
	color: var(--main-text-cl);
	font-weight:bold;
	letter-spacing: 1px;
	contain: layout;

	&::-moz-focus-inner{
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring{
		outline: 1px dotted ButtonText;
	}

	&:focus{
		outline: 1px solid var(--button-greyedout);
		outline-offset: 1px;
	}
	&[disabled]{
		cursor: not-allowed;
		filter: grayscale(0.75) opacity(0.5);
	}
	&:not([disabled]){
		cursor: pointer;

		&:active{
			-webkit-transform: translate(0,2px);
			-ms-transform: translate(0,2px);
			transform: translate(0,2px);
		}
	}

	&.secondary{
		background: var(--background-base-darker);
		color: var(--main-color);
		border: 1px solid var(--main-color);
	}
	&.main{
		width: 100%;
	}
	&.success{
		background: var(--success);
		color: var(--success-lighter);
	}
	&.warning{
		background: var(--warning);
		color: var(--warning-lighter);
	}
	&.alert{
		background: var(--alert);
		color: var(--alert-lighter);
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button{
	@extend %button;
}
input[type="file"]::-webkit-file-upload-button{
	@extend %button;
	height: 100%;
	
}
