%baseColors{
	--background-base: #fff;
	--background-base-darker: #f3f3f3;
	--text-base: #080808;

	--info: dodgerblue;
	--info-lighter: #f0f0f0;
	--success: #158724;
	--success-lighter: #d4edda;
	--warning: darkorange;
	--warning-lighter: #fff3cd;
	--alert: #a21c24;
	--alert-lighter: #f8d7da;
}
@mixin darkModeColors(){
	--background-base: #181818;
	--background-base-darker: #121212;
	--text-base: #fcfcfc;

	--info: dodgerblue;
	--info-lighter: #f0f0f0;
	--success: #25b734;
	--success-lighter: #d4edda;
	--warning: orange;
	--warning-lighter: #fff3cd;
	--alert: #f23c44;
	--alert-lighter: #f8d7da;	
}

%themeColors{
	--main-color: #7824c7;
	--main-color-lighter: #b05cff;
	--main-text-cl: #fff;
	--main-text-cl-darker: #ddd;
	--button-greyedout: #bbb;	
}

body{
	@extend %baseColors;

	@extend %themeColors;

	&.dark-mode{
		@include darkModeColors();
	}
}

@media( prefers-color-scheme: dark ){
	body{
		@include darkModeColors();
	}
}