.app_header{
	position: sticky;
	z-index: 9999999;
	top: 0;
	width: 100%;
	height: 4rem;
	background: var(--main-color);
	color: var(--main-text-cl);
	display: grid;
	grid-template-columns: 4rem auto 4rem;
	padding: 0 1rem;

	*{
		overflow:hidden;

		&.app-menu-btn{
			cursor:pointer;
			display: block;
			position: relative;
			width: 100%;
			height: 100%;

			&::after{
				content: '';
				display: block;
				position: relative;
				width: 100%;
				height: 100%;
				background: var(--main-text-cl);
				clip-path: polygon( 10% 30%, 90% 30%, 90% 35%, 10% 35%, 
									10% 50%, 90% 50%, 90% 55%, 10% 55%, 
									10% 70%, 90% 70%, 90% 75%, 10% 75% );
			}
			&:active{
				&::after{
					opacity:0.5;
				}
			}
		}
	}
}

%infoboxes{
	display:block;
	margin: 0.5rem 1rem 0.5rem 1rem;
	padding: 0 1rem 0.75rem 1rem;
	border: 1px solid transparent;
	border-radius: 2px;
	min-height: 2.15rem;
	cursor: default;

	&::before{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		line-height: 30px;
		min-height: 30px;
		width: 30px;
		font-size:  20px;
		font-family: monospace;
		border-bottom-right-radius:3px;
		font-weight: bold;
		margin-left: -1rem;
	}
}

.box-info{ 
	@extend %infoboxes;
	background-color: var(--info-lighter);
	color: var(--info);
	border-color: var(--info);
}
.box-success{
	@extend %infoboxes;
	background-color: var(--success-lighter);
	color: var(--success);
	border-color: var(--success);
}
.box-warning{
	@extend %infoboxes;
	background-color: var(--warning-lighter);
	color: var(--warning);
	border-color: var(--warning);
}
.box-alert{
	@extend %infoboxes;
	background-color: var(--alert-lighter);
	color: var(--alert);
	border-color: var(--alert);
}
.box-info::before{
	content: '?';
	background: var(--info);
	color: var(--info-lighter);
}
.box-success::before{
	content: '\02713';
	background: var(--success);
	color: var(--success-lighter);
}
.box-warning::before{
	content: '!';
	background: var(--warning);
	color: var(--warning-lighter);
}
.box-alert::before{
	content: '\000D7';
	background: var(--alert);
	color: var(--alert-lighter);
}

.box-info button{
	background: var(--info);
}
.box-success button{
	background: var(--success);
}
.box-warning button{
	background: var(--warning);
}
.box-alert button{
	background: var(--alert);
}


.text-info,
.text-success,
.text-warning,
.text-alert,
.text-main{
	display:inline-block;
}
.text-info{ color:var(--info); }
.text-success{ color:var(--success); }
.text-warning{ color:var(--warning); }
.text-alert{ color:var(--alert); }
.text-main{ color:var(--main-color); }

.fill-info{ background-color:var(--info) !important; color: var(--info-lighter) !important; }
.fill-success{ background-color:var(--success) !important; color: var(--success-lighter) !important; }
.fill-warning{ background-color:var(--warning) !important; color: var(--warning-lighter) !important; }
.fill-alert{ background-color:var(--alert) !important; color: var(--alert-lighter) !important; }
.fill-main{ background-color:var(--main-color) !important; color: var(--main-text-cl) !important; }


%textTags{
	line-height: 1;
	padding: 1px 3px 3px 3px;
	font-size: 75%;
	border-radius: 3px;
	margin:0.25rem 0.1rem;
	font-weight:bold;

	&::before{
		content: '#';
	}
}
.tag-info{
	@extend %textTags;
	color: var(--info-lighter);
	background: var(--info);
}
.tag-success{
	@extend %textTags;
	color: var(--success-lighter);
	background: var(--success);
}
.tag-warning{
	@extend %textTags;
	color: var(--warning-lighter);
	background: var(--warning);
}
.tag-alert{
	@extend %textTags;
	color: var(--alert-lighter);
	background: var(--alert);
}
.tag-main{
	@extend %textTags;
	color: var(--main-text-cl);
	background: var(--main-color);
}



.card{
	border-top: 1px solid rgba(0,0,0,0.075);
	border-radius: 0.75em;
	margin-top: 1.5em;
	padding: 0;
	/*box-shadow: 0 0.75em 0.5em rgba(0,0,0,0.175);*/
	box-shadow: 0 1px 1px rgba(0,0,0,0.11),
				0 2px 2px rgba(0,0,0,0.11),
				0 4px 4px rgba(0,0,0,0.11), 
				0 8px 8px rgba(0,0,0,0.11),
				0 16px 16px rgba(0,0,0,0.11);
	background: var(--background-base);
	color: var(--text-base);
	display:grid;
	overflow:hidden;

	.card_title{
		font-weight: 100;
		background: var(--main-color);
		color: var(--main-text-cl);
		width: 100%;
		line-height: 1;
		padding: 10px;
		border-radius: 0 0 2px 2px;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
		font-size: 22px;
		text-align:center;
		margin: 0;
		grid-row-start: 2;
		opacity:0.85;
	}	
	.card_content{
		padding: 0.5em;
		padding-bottom: 1.5em;
		border-left: 1px solid rgba(0,0,0,0.1);
		border-right: 1px solid rgba(0,0,0,0.1);
		border-top: 1px solid rgba(0,0,0,0.1);

		img:first-child{
			border-radius: 3px 3px 0 0;
		}
		article{
			font-style: italic;
			margin-top: 0.75rem;
		}
	}
}


%code{
	font-family: monospace, monospace;
	font-size: 1rem;
	letter-spacing: -1px;
}

code{
	@extend %code;
	display: inline-block;
}
.codeArea{
	@extend %code;
	display:block;
	background: rgba(0,0,0,0.1);
	border-left: 3px solid var(--main-color);
	counter-reset: codeArea;

	.row{
		counter-increment: codeArea;
		display: block;
		width: 100%;
		height:1.15rem;
		white-space:pre-wrap;

		.comment{
			opacity:0.5;
		}
	}
	.row::before{
		content: counter(codeArea);
		width: 1rem;
		display: inline-block;
		height: 1.15rem;
		background:rgba(0,0,0,0.1);
		text-align: center;
		line-height: 1.15rem;
		font-size: 10px;
		font-weight: bold;
		color: rgba(0,0,0,0.35);
	}
}



.pwa_dialog_backDrop{
	position:fixed;
	z-index: 2000000000;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	backdrop-filter: blur(2px);
}
body.dark-mode{
	.pwa_dialog_backDrop{
		background: rgba(255,255,255,0.1);
	}
}
@media( prefers-color-scheme: dark ){
	.pwa_dialog_backDrop{
		background: rgba(255,255,255,0.1);
	}
}

.pwa_dialog{
	position:fixed;
	z-index: 2000000001;
	left: 50%;
	top: 50%;
	width:85%;
	max-height:85%;
	transform: translate( -50%, -50% );
	border-radius: 3px;
	background: var(--background-base);
	color: var(--text-base);
	box-shadow: 0 1px 1px rgba(0,0,0,0.11),
				0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11),
				0 8px 8px rgba(0,0,0,0.11),
				0 16px 16px rgba(0,0,0,0.11),
				0 32px 32px rgba(0,0,0,0.11);

	.pwa_dialog_topBar{
		height: 30px;
		display: grid;
		grid-template-columns: auto 50px;

		.pwa_dialog_title{
			padding-top: 10px;
			padding-left: 10px;
			text-transform: capitalize;
			font-weight:bold;
			cursor:default;
		}
		.pwa_dialog_topBtns{

			.pwa_dialog_topCross{
				width: 50px;
				height: 50px;
				font-size: 30px;
				text-align: center;
				line-height: 50px;
				background: var(--background-base-darker);
				border-bottom-left-radius: 20px;
				cursor:pointer;

				&::after{
					content: '×';
				}
				&:active{
					background: var(--background-base);
				}
			}
		}
	}
	.pwa_dialog_body{
		margin-top:20px;
		padding:10px;
	}
}

.pwa_notif{
    position: fixed;
    max-width: 90%;
    background: linear-gradient( 45deg, var(--main-color), var(--main-color-lighter) );
    color: var(--main-text-cl);
    min-width: 15rem;
    border-radius: 3px;
    overflow: hidden;
	display: grid;
	grid-template-rows: min-content auto;
	grid-gap: 0.17rem;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 8px 8px rgba(0,0,0,0.11);

	&.notif_top{
		top: 5rem;
	}
	&.notif_bottom{
		bottom: 5rem;
	}
	&.notif_vertCenter{
		top: 50%;
		transform: translateY(-50%);
	}
	&.notif_right{
		right:3rem;
	}
	&.notif_left{
		left: 3rem;
	}
	&.notif_horizCenter{
		left: 50%;
		transform: translateX(-50%);
	}

	.pwa_notif_head{
		display: grid;
		grid-template-columns: auto min-content;

		.pwa_notif_title{
			font-weight: bold;
			line-height: 1;
			padding: 0.33rem;
		}
		.pwa_notif_close{
			font-size: 1.5rem;
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			text-align: center;
			line-height: 1.5rem;
			cursor: pointer;
			border-radius: 50%;
			transition: 0.2s background-color ease-out;

			&::after{
				content: '×';
			}
			&:hover{
				background: rgba(0,0,0,0.1);
			}
		}		
	}

	.pwa_notif_body{
		padding: 0 0.5rem 0.5rem 0.33rem;
		font-style: italic;
	}
}


.number-tip{
	display: inline-block;
	line-height: 1rem;
	background: var(--info) linear-gradient(45deg, rgba(0,0,0,0.1), transparent);
	color: var(--info-lighter);
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	font-size: 0.75rem;
	vertical-align: 0.1rem;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11);
	padding: 0.075rem 0.25rem;
	min-width: 1.1rem;
	overflow: hidden;
}

.message{
	background: var(--button-greyedout);
	padding: 0.5rem;
	border-radius: 1rem;
	display: block;
	margin: 3px 0.5rem 0 0.5rem;

	&.pull-left{
		clear:both;
		border-radius: 3px 1rem 1rem 3px;

		&:first-child:not(:last-child){
			border-top-left-radius: 1rem;
		}
		&:last-child:not(:first-child){
			border-bottom-left-radius: 1rem
		}
	}

	&.pull-right{
		clear:both;
		border-radius: 1rem 3px 3px 1rem;

		&:first-child:not(:last-child){
			border-top-right-radius: 1rem;
		}
		&:last-child:not(:first-child){
			border-bottom-right-radius: 1rem;
		}
	}
}

@keyframes jammer_spin{
	to{ transform: rotate(-360deg); }
}
%rotating{
	animation-name: jammer_spin;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-play-state: running;	
}
%spinner{
	@extend %rotating;
	display:inline-block;
	height:1.25em;
	width:1.25em;
	border-radius: 50%;
	background:transparent;
}
.spin1{
	@extend %spinner;
	border:0.15em solid var(--main-color);
	border-top-color:transparent;
}