[hidden], .hidden{display: none !important;}
.text-left{ text-align:left !important; }
.text-center{ text-align:center !important; }
.text-right{ text-align:right !important; }
.no-select{ user-select: none !important; }
.full-select{ user-select: all !important; }
.block-click{ user-select: none !important; pointer-events: none !important; }
.pull-left{ float:left !important; }
.pull-right{ float:right !important; }
.full-width{ display: block !important; clear: both !important; width: 100% !important; position: relative !important; }
.w1{ width: 100% / 12 }
.w2{ width: 100% / 6 }
.w3{ width: 25% }
.w4{ width: 100% / 3 }
.w5{ width: 100% * 5 / 12 }
.w6{ width: 50% }
.w7{ width: 100% * 7 / 12 }
.w8{ width: 100% * 2 / 3 }
.w9{ width: 75% }
.w10{ width: 100% * 5 / 6 }
.w11{ width: 100% * 11 / 12 }
.w12{ width: 100% }
.m1{ margin-left: 8.333333% }
.m2{ margin-left: 16.666667% }
.m3{ margin-left: 25% }
.m4{ margin-left: 33.333333% }
.m5{ margin-left: 100% * 5 / 12 }
.m6{ margin-left: 50% }
.m7{ margin-left: 100% * 7 / 12 }
.m8{ margin-left: 100% * 2 / 3 }
.m9{ margin-left: 75% }
.m10{ margin-left: 100% * 5 / 6 }
.m11{ margin-left: 100% * 11 / 12 }
.m12{ margin-left: 100% }
.p8{padding:8px !important;}
.p16{padding:16px !important;}
.p32{padding:32px !important;}
.p64{padding:64px !important;}
.cols2,.cols3,.cols4,.cols5,.cols6{
	display:grid;
	grid-gap: 0.715rem;
	padding: 0.715rem;
}
.cols2{grid-template-columns: repeat(2,1fr);}
.cols3{grid-template-columns: repeat(3,1fr);}
.cols4{grid-template-columns: repeat(4,1fr);}
.cols5{grid-template-columns: repeat(5,1fr);}
.cols6{grid-template-columns: repeat(6,1fr);}
.cols2>*,.cols3>*,.cols4>*,.cols5>*,.cols6>*{
	overflow: hidden;
}
.shadow1{ box-shadow: 0 1px 1px rgba(0,0,0,0.1);  }
.shadow2{ box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1);  }
.shadow3{ box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1);  }
.shadow4{ box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1);  }
.shadow5{ box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1);  }
.shadow6{ box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1), 0 32px 32px rgba(0,0,0,0.1);  }
.shadow7{ box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1), 0 32px 32px rgba(0,0,0,0.1), 0 64px 64px rgba(0,0,0,0.1);  }


.gridHelper::after{
	content: "64px squares delimited by 8px padding bands";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(90deg,
											rgba(255,0,255,0.2) 0, rgba(255,0,255,0.2) 8px,
											transparent 8px, transparent 80px ),
				repeating-linear-gradient( 0deg,
											rgba(0,0,255,0.2) 0, rgba(0,0,255,0.2) 8px,
											transparent 8px, transparent 80px );
	z-index: -1;
	padding-top: calc( 100vh - 1rem );
	/* vertical-align: 55px; */
	font-size: 0.75rem;
	font-family: monospace;
	text-align: right;
	font-weight: bold;
	letter-spacing: -1px;
	padding-right: 24px;
	color: rgba(0,0,0,0.5);
}