input,optgroup,select,textarea{
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="file"],
input[type="color"],
select,
textarea{
	overflow: auto;
	border-color: transparent;
	background: rgba(0,0,0,0.05);
	padding: 0 1rem;
	line-height: 2;
	border-radius: 2px 2px 0 0;
	width: 100%;
	box-sizing: border-box;
	border-width: 0 0 var(--input-border-bottom) 0;
	border-style:solid;
	border-color:rgba(0,0,0,0.1);
	transition: 0.2s border-bottom-color;
}
input[type="search"]{
	-webkit-appearance: none;
}
select{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;

	option{
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
	}
	option:checked{
		background: var(--main-text-cl-darker);
	}
	option:hover{
		box-shadow: inset 0 0 100px var(--main-color);
	}
}



input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus{
	outline: none;
}
input[type="text"]:not([readonly]):focus,
input[type="number"]:not([readonly]):focus,
input[type="date"]:not([readonly]):focus,
input[type="datetime-local"]:not([readonly]):focus,
input[type="email"]:not([readonly]):focus,
input[type="url"]:not([readonly]):focus,
input[type="password"]:not([readonly]):focus,
input[type="search"]:not([readonly]):focus,
input[type="tel"]:not([readonly]):focus,
input[type="file"]:not([readonly]):focus,
input[type="color"]:not([readonly]):focus,
select:not([readonly]):focus,
textarea:not([readonly]):focus{
	border-bottom-color: var(--main-color);
}
input::placeholder,
textarea::placeholder{
	font-weight:500;
	transition: 0.2s all;
}
input:not([readonly]):focus::placeholder,
textarea:not([readonly]):focus::placeholder{
	opacity: 0;
}
label{
	display: block;
	position: relative;
	padding: 0.85em 0;
	cursor:text;
}
label.required{

	.inputLabel::after{
		content: '*';
	}
}
input+.inputLabel,
select+.inputLabel,
textarea+.inputLabel{
	position: absolute;
	left: 1rem;
	top: 1rem;
	line-height: 2;
	font-weight:500;
	transition:  0.2s all;
}
input:not([readonly]):not(:focus):placeholder-shown+.inputLabel,
select:not([readonly]):not(:focus):placeholder-shown+.inputLabel,
textarea:not([readonly]):not(:focus):placeholder-shown+.inputLabel{
	opacity: 0;
}
input:not([readonly]):focus+.inputLabel,
select:not([readonly]):focus+.inputLabel,
textarea:not([readonly]):focus+.inputLabel,
input:not([readonly]):not(:focus):not(:placeholder-shown)+.inputLabel,
select:not([readonly]):not(:focus):not(:placeholder-shown)+.inputLabel,
textarea:not([readonly]):not(:focus):not(:placeholder-shown)+.inputLabel{
	left: 0;
	top: -0.5rem;
	font-size: 80%;
	color: var(--main-color);
}

input[type="checkbox"],
input[type="radio"]{
	box-sizing: border-box;
	display: inline;
	float: left;
	width: 1px;
	height: 1px;
	padding: 0;
	opacity: 0.001;
}
input[type="checkbox"]+.check,
input[type="radio"]+.radio{
	display: inline-block;
	height: 1em;
	width:  1em;
	border: 2px solid rgba(0,0,0,0.33);
	vertical-align: middle;
}
input[type="checkbox"]+.switch{
	display: inline-block;
	line-height:1;
	height: 1em;
	width:  2em;
	outline: 2px solid var(--main-color);
	background: var(--main-text-cl);
	vertical-align: middle;
}
input[type="radio"]+.radio{
	border-radius: 50%;
}
input[type="checkbox"]+.check::after,
input[type="radio"]+.radio::after{
	display: inline-block;
	content: "\2713\0020";
	font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
	font-weight: 500;
	text-align: center;
	color:  var(--main-text-cl);
	width: 1em;
	height: 1em;
	line-height: 1;
	vertical-align: super;
	transition:  0.1s all ease-out;
}
input[type="checkbox"]+.switch::after{
	display: inline-block;
	content: "";
	line-height: 1;
	width: 0.666em;
	height:1em;
	background: var(--main-color);
	outline: 0.1em solid var(--button-greyedout);
	transition: 0.1s transform ease-out;
}

input[type="checkbox"]:checked+.switch::after{
	transform: translate(1.334em,0);
}
input[type="radio"]+.radio::after{
	content: "";
}
input[type="checkbox"]:checked+.check{
	background: var(--main-color);
	border-color: var(--main-color);
}
input[type="radio"]:checked+.radio{
	background: var(--main-color-lighter);
	border-color: var(--main-color);
}
input[type="checkbox"]:not(:checked)+.check::after,
input[type="radio"]:not(:checked)+.radio::after{
	opacity: 0;
}
input[type="checkbox"]:focus+.check{
	outline: 3px solid var(--button-greyedout-lighter);
}
input[type="radio"]:focus+.radio{
	border: 3px solid var(--button-greyedout-lighter);
}
input[type="checkbox"][disabled]+.check,
input[type="radio"][disabled]+.radio,
input[type="checkbox"][disabled]+.switch{
	filter:grayscale(0.75) opacity(0.5);
}
input[type="radio"]+.radio+.inputLabel,
input[type="checkbox"]+.switch+.inputLabel,
input[type="checkbox"]+.check+.inputLabel{
	font-weight:500;
	border-bottom:2px solid transparent;
	transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
}
input[type="radio"]:checked+.radio+.inputLabel,
input[type="checkbox"]:checked+.switch+.inputLabel,
input[type="checkbox"]:checked+.check+.inputLabel{
	color:var(--main-color);
	border-bottom-color:var(--main-color)
}

input[type="range"]{
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	width: 100%;
	margin-top:1em;
	height: 1rem;
	background: var(--button-greyedout);
	opacity: 0.85;
	transition: opacity 0.2s ease-out;
}
input[type="range"]::before{
	color: var(--text-base);
	margin-left:0.5em;
	float:left;
	z-index:2;
	content: attr(min);
}
input[type="range"]::after{
	color: var(--text-base);
	margin-right:0.5em;
	float:right;
	z-index:2;
	content: attr(max);
}
input[type="range"]:hover{
	opacity: 1;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 1rem;
	height: 1.5rem;
	background: var(--main-color);
	border-radius: 2px;
	cursor: pointer;
}
input[type="range"]::-moz-range-thumb{
  width: 1rem;
  height: 1.5rem;
  background: var(--main-color);
  cursor: pointer;
}
input[type="number"]:not(.no-buttons)::-webkit-inner-spin-button,
input[type="number"]:not(.no-buttons)::-webkit-outer-spin-button{
	height: auto;
}
input[type="number"].no-buttons{
	-moz-appearance: textfield;
}
input[type="number"].no-buttons::-webkit-inner-spin-button,
input[type="number"].no-buttons::-webkit-outer-spin-button{
	-webkit-appearance: none;
	margin: 0;
}
input[type="search"]{
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
input[type="search"]::-webkit-search-decoration{
	-webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button{
	display:none;
}

input[type="date"],
input[type="datetime-local"],
input[type="file"],
select{
	height: 3em;
}
input[type="file"]{
	font-weight:500;
	cursor:pointer;
	padding-left:0
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-clear-button,
input[type="datetime-local"]::-webkit-inner-spin-button{
	display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator{
	padding:0.5rem;
	border-radius: 50%;
	font-size: 15px;
	color: rgba(0,0,0,0.1);
	background:transparent;
	opacity:1;
	transition: 0.15s background-color ease-out;
}
input[type="date"]:hover::-webkit-calendar-picker-indicator,
input[type="datetime-local"]:hover::-webkit-calendar-picker-indicator{
	background: rgba(0,0,0,0.1);
}
input[type="date"]::-webkit-calendar-picker-indicator:active,
input[type="datetime-local"]::-webkit-calendar-picker-indicator:active{
	filter: brightness(0.85);
}

select+.selectHint,
select+.inputLabel+.selectHint{
	display:inline-block;
	height: 26px;
	width: 26px;
	background:transparent;
	border-radius: 50%;
	float: right;
	margin-top: -34px;
	margin-right: 20px;
	position:relative;
	z-index:-1;
	transition: 0.15s background-color ease-out;
}
select:hover+.selectHint,
select:hover+.inputLabel+.selectHint{
	background: rgba(0,0,0,0.1);	
}
select:active+.selectHint,
select:active+.inputLabel+.selectHint{
	background-color: rgba(0,0,0,0.2);
}
select+.selectHint::after,
select+.inputLabel+.selectHint::after{
	content: "";
	background: transparent;
	width: 0;
	height: 0;
	position: absolute;
	right: 8px;
	top: 5px;
	border-style: solid;
	border-width: 9px 5px 9px 5px;
	border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
	margin-top: 4px;
}

input+.emptyInput,
input+.inputLabel+.emptyInput{
    display: inline-block;
    height: 26px;
    width: 26px;
    background: transparent;
    border-radius: 50%;
    float: right;
    margin-top: -37px;
    margin-right: 20px;
    z-index:2;
    position: relative;
    transition: 0.15s background-color ease-out;
    color:var(--text-base);
	text-align: center;
	line-height: 26px;
	font-size: 24px;
	cursor:pointer;
}
input+.emptyInput::after,
input+.inputLabel+.emptyInput::after{
	content: '×';
}
input+.emptyInput:hover,
input+.inputLabel+.emptyInput:hover{
	background: rgba(0,0,0,0.1);	
}

input[type="color"]{
	height:3em;
	cursor:pointer;
}
/*currently not supported*/
/*input[type="color"]::after{
	content: attr(value);
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 8px;
    z-index: 2;
    color: var(--text-base);
	content: attr(value);
}*/


.tagLeft{
	display: grid;
	grid-template-columns: min-content auto;

	:first-child{
		border-bottom: 2px solid rgba(0,0,0,0.1);
		background: rgba(0,0,0,0.05);
		line-height: 2em;
		vertical-align: middle;
		text-align: center;
		padding: 0 0.5em;
		color: rgba(0,0,0,0.5);
		font-size: 1.5em;
	}
	&:focus-within :first-child{
		border-bottom-color: var(--main-color);
		color: var(--main-color);
	}
}