body{
	--main-color-forinput: var(--main-color);
	&.dark-mode{
		--main-color-forinput: var(--main-color-lighter);
	}
}
%inputFields{
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: auto;
	border-color: transparent;
	/*background: rgba(0,0,0,0.05);*/
	background: var(--background-base-darker);
	color: var(--text-base);
	padding: 0 1rem;
	line-height: 2;
	border-radius: 2px 2px 0 0;
	width: 100%;
	box-sizing: border-box;
	border-width: 0 0 var(--input-border-bottom) 0;
	border-style:solid;
	border-color:rgba(0,0,0,0.1);
	caret-color:var(--main-color-forinput);
	transition: 0.2s border-bottom-color;

	&:focus{
		outline: none;
		
		&:not([readonly]){
			border-color: var(--main-color-forinput);

			&::placeholder{
				opacity: 0;
			}
			&+.inputLabel{
				left: 0;
				top: -0.5rem;
				font-size: 80%;
				color: var(--main-color-forinput);
			}
		}
	}

	&::placeholder{
		font-weight:500;
		transition: 0.2s all;
	}

	&+.inputLabel{
		position: absolute;
		left: 1rem;
		top: 1rem;
		line-height: 2;
		font-weight:500;
		transition:  0.2s all;


	}
	&:not(:focus){
		&:not([readonly]){
			&:placeholder-shown{
				&+.inputLabel{
					opacity: 0;
				}
			}
			&:not(:placeholder-shown){
				&+.inputLabel{
					left: 0;
					top: -0.5rem;
					font-size: 80%;
					color: var(--main-color-forinput);
				}
			}
		}
	}
}

%inputFieldHelper{
    display: inline-block;
    height: 1.625rem;
    width: 1.625rem;
    background: rgba(0,0,0,0.025);
    border-radius: 50%;
    float: right;
    margin-top: -2rem;
    margin-right: 1rem;
    z-index:2;
    position: relative;
    transition: 0.15s background-color ease-out;
    color:var(--text-base);
	text-align: center;
	line-height: 1.625rem;
	font-size: 1.5rem;
	cursor:pointer;

	&:hover{
		background: rgba(0,0,0,0.1);	
	}
}

%checkable{
	box-sizing: border-box;
	display: inline;
	float: left;
	width: 1px;
	height: 1px;
	padding: 0;
	opacity: 0.001;
}

input{

	&[type="text"],
	&[type="number"],
	&[type="date"],
	&[type="datetime-local"],
	&[type="email"],
	&[type="url"],
	&[type="password"],
	&[type="search"],
	&[type="tel"],
	&[type="file"],
	&[type="color"]{
		@extend %inputFields;
		height: 2.5rem;
	}	
}
textarea{
	@extend %inputFields;
}

select{
	@extend %inputFields;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	height: 2.5rem;

	option{
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;

		&:checked{
			background: var(--main-text-cl-darker);
		}
		&:hover{
			box-shadow: inset 0 0 100px var(--main-color);
		}
	}


	&+.selectHint,
	&+.inputLabel+.selectHint{
		display:inline-block;
		height: 1.857em;
		width: 1.857em;
		background:transparent;
		border-radius: 50%;
		float: right;
		margin-top: -2.057rem;
		margin-right: 1.5rem;
		position:relative;
		z-index:0;
		pointer-events: none;
		transition: 0.15s background-color ease-out;

		&::after{
			content: "";
			background: transparent;
			width: 0;
			height: 0;
			position: absolute;
			right: 8px;
			top: 5px;
			border-style: solid;
			border-width: 9px 5px 9px 5px;
			border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
			margin-top: 4px;
		}
	}
	&:hover{

		&+.selectHint,
		&+.inputLabel+.selectHint{
			background: rgba(0,0,0,0.1);	
		}		
	}
	&:active{

		&+.selectHint,
		&+.inputLabel+.selectHint{
			background-color: rgba(0,0,0,0.2);
		}
	}

}



label{
	display: block;
	position: relative;
	padding: 0.75rem 0;

	&.required{

		.inputLabel::after{
			content: '*';
		}
	}
}

input[type="checkbox"]{
	@extend %checkable;

	&+.check{
		display: inline-block;
		height: 1.15rem;
		width:  1.15rem;
		border: 2px solid rgba(0,0,0,0.33);
		border-radius:2px;
		vertical-align: middle;
		position: relative;

		&::after{
			content: '';
			display: inline-block;
			height: 0.4rem;
			width: 0.7rem;
			border-left: 0.2rem solid var(--main-text-cl);
			border-bottom: 0.2rem solid var(--main-text-cl);
			transform: rotate(-45deg);
			top: 0.15rem;
			left:0.1rem;
			position: absolute;
		}

		&+.inputLabel{
			font-weight:500;
			border-bottom:2px solid transparent;
			transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
		}
	}
	&+.switch{
		display: inline-block;
		line-height:1;
		height: 1rem;
		width:  2rem;
		background: var(--main-text-cl);
		vertical-align: middle;
		border-radius: 0.6rem;
    	border: 0.1rem solid var(--main-color);
		margin-left: 50%;
		transform: translateX(-50%);

		&::after{
			display: inline-block;
			content: "";
			line-height: 1;
			width: 0.8rem;
			height:0.8rem;
			background: var(--main-color);
			border-radius:50%;
			transition: 0.1s transform ease-out;
		}

		&+.inputLabel{
			position: absolute;
			left: 0;
			opacity:0.75;
			transition: 0.2s left ease-out,
						0.2s opacity ease-out;

			&+.inputLabel{
				position: absolute;
				right: 0;
				font-weight:500;
				border-bottom:2px solid transparent;
				transition: 0.2s right ease-out,
							0.2s opacity ease-out,
							color 0.2s ease-out, 
							border-bottom-color 0.2s ease-out;
			}
		}
	}
	&:checked+.switch{
		background-color:var(--main-color-lighter);

		&::after{
			transform: translate(0.93rem,0);
		}
		&+.inputLabel{
			&+.inputLabel{
				color:var(--main-color-forinput);
				border-bottom-color:var(--main-color-forinput)
			}
		}
	}
	&:checked+.check{
		background: var(--main-color);
		border-color: var(--main-color);

		&+.inputLabel{
			color:var(--main-color-forinput);
			border-bottom-color:var(--main-color-forinput);
		}
	}
	&:not(:checked){
		&+.check::after{
			opacity: 0;
		}
	}
	&:focus{
		&+.check{
			outline: 3px solid var(--button-greyedout-lighter);
		}
	}

	&[disabled]{
		
		+.check,
		+.switch{
			filter:grayscale(0.75) opacity(0.5);
		}
	}

}

input[type="radio"]{
	@extend %checkable;

	&+.radio{
		display: inline-block;
		height: 1.15rem;
		width:  1.15rem;
		border: 2px solid rgba(0,0,0,0.33);
		vertical-align: middle;
		position: relative;
		border-radius: 50%;

		&::after{
			display: inline-block;
			content: "";
			font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
			font-weight: 500;
			text-align: center;
			color:  var(--main-text-cl);
			width: 1rem;
			height: 1rem;
			line-height: 1;
			vertical-align: super;
			transition:  0.1s all ease-out;
		}

		&+.inputLabel{
			font-weight:500;
			border-bottom:2px solid transparent;
			transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
		}
	}
	&:checked+.radio{
		background: radial-gradient( 
						var(--main-color-lighter), 
						var(--main-color-lighter) 0.25rem, 
						var(--main-color) 0.3rem, 
						var(--main-color) 
					);
		border-color: var(--main-color);

		&+.inputLabel{
			color:var(--main-color-forinput);
			border-bottom-color:var(--main-color-forinput);
		}
	}
	&:not(:checked)+.radio{
		&::after{
			opacity: 0;
		}
	}
	&:focus+.radio{
		border: 3px solid var(--button-greyedout-lighter);
	}
	&[disabled]+.radio{
		filter:grayscale(0.75) opacity(0.5);
	}

}


%rangeThumb{
	display: block;
	position: relative;
	width: 1rem;
	height: calc( 2.5rem - 2px );
	background: var(--main-color-forinput);
	border: 1px solid var(--main-color-forinput);
	margin:0;
	cursor: pointer;
	clip-path: polygon( 0 20%, 49% 1%, 51% 1%, 100% 20%,
						100% 100%, 0 100% );
}

input[type="range"]{
	@extend %inputFields;
	-webkit-appearance: none !important;
	appearance: none !important;
	padding:0;
	height: 2.5rem;

	&:hover{
		opacity: 1;
	}
	&::-webkit-slider-thumb{
		-webkit-appearance: none;
		@extend %rangeThumb;
	}

	&+.inputLabel{
		position: absolute;
		line-height: 2;
		font-weight:500;
		left: 0;
		top: 0;
		font-size: 80%;
		color: var(--main-color-forinput);
	}

	&::before{
		content: attr(min);
	}
	&::after{
		content: attr(max);
	}
	&::before,
	&::after{
		background:rgba(0,0,0,0.1);
		color: var(--background-base);
		line-height: 2.5rem;
		height: 100%;
		display:inline-block;
		font-size: 0.8rem;
		opacity: 0.85;
		text-align:center;
		padding: 0 8px;
		font-weight:bold;
		transition: 0.2s background-color ease-out,
					0.2s color ease-out;
	}
	&:focus::before,
	&:focus::after{
		background: var(--main-color);
		color: var(--main-text-cl);
	}
}

input[type="number"]{

	&:not(.no-buttons)::-webkit-inner-spin-button,
	&:not(.no-buttons)::-webkit-outer-spin-button{
		height: 2.5rem;
		cursor:pointer;
	}	
	&.no-buttons{
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button{
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

input[type="search"]{
	-webkit-appearance: textfield;
	outline-offset: -2px;

	&::-webkit-search-decoration{
		-webkit-appearance: none;
	}
	&::-webkit-search-cancel-button{
		display:none;
	}	
}

input[type="date"],
input[type="datetime-local"]{
	height: 2.5rem;

	&::-webkit-clear-button,
	&::-webkit-inner-spin-button{
		display: none;
	}
	&::-webkit-calendar-picker-indicator{
		padding:0.5rem;
		border-radius: 50%;
		font-size: 15px;
		color: rgba(0,0,0,0.1);
		background:transparent;
		opacity:1;
		transition: 0.15s background-color ease-out;

		&:active{
			filter: brightness(0.85);
		}
	}

	&:hover{

		&::-webkit-calendar-picker-indicator{
			background: rgba(0,0,0,0.1);
		}
	}
}

input[type="file"]{
	height: 2.5rem;
	font-weight:500;
	cursor:pointer;
	padding-left:0;

	&.dropArea{
		height: 12.5rem;
		background: radial-gradient( rgba(0,0,0,0.15), rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.05) );
		border: 2px solid rgba(0,0,0,0.1);

		&::-webkit-file-upload-button{
			opacity:0;
		}
	}

}

input[type="color"]{
	--value: #000000;
	appearance:none;
	height: 2.5rem;
	padding: 0.35rem;
	cursor:pointer;

	&::-webkit-color-swatch/*,
	&::-moz-color-swatch*/{
		display:none;

	}
	&::before{
		content: '';
		background:var(--value);
		position:absolute;
		width: 1.8em;
		height: 1.8em;
		border-radius: 50%;
		box-shadow: 0 1px 1px rgba(0,0,0,0.1),
					0 2px 2px rgba(0,0,0,0.1)
	}
	&::after{
		content: attr(placeholder);
		color:var(--value);
		position: absolute;
		left: 2.5rem;
		opacity: 0.85;
		top: 1.1rem;
	}

	&:focus{
		&::-webkit-color-swatch/*,
		&:focus::-moz-color-swatch*/{
			border-color: var(--main-color-forinput);
		}
		&::before{
			color:var(--main-color-forinput);
		}
	}
}



.tagLeft{
	display: grid;
	grid-template-columns: min-content auto;

	>input{
		border-top-left-radius:0;
	}
	>:first-child:not(input):not(button):not(.button):not(.inputLabel){
		border-bottom: 2px solid rgba(0,0,0,0.1);
		background: rgba(0,0,0,0.05);
		height:2.5rem;
		line-height: 2.5rem;
		vertical-align: middle;
		text-align: center;
		padding: 0 0.5rem;
		color: rgba(0,0,0,0.5);
		font-size: 1.5rem;
		transition: 0.2s border-bottom-color;
	}
	>button:first-child,
	>input[type="button"]:first-child,
	>input[type="reset"]:first-child,
	>input[type="submit"]:first-child,
	>.button:first-child{
		margin-top: 0.75rem;
		height:2.5rem;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	}
}
.tagLeft:focus-within{
	:first-child:not(button):not(.inputLabel){
		border-bottom-color: var(--main-color-forinput) !important;
		color: var(--main-color-forinput) !important;
	}
}

.tagRight{
	display: grid;
	grid-template-columns: auto min-content;

	&.tagLeft{
		grid-template-columns: min-content auto min-content;
	}

	>input{
		border-top-right-radius: 0;
	}

	>button:last-child,
	>input[type="button"]:last-child,
	>input[type="reset"]:last-child,
	>input[type="submit"]:last-child,
	>.button:last-child{
		margin-top: 0.75rem;
		height:2.5rem;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
	}
	>:last-child:not(input):not(button):not(.button):not(.inputLabel){
		border-bottom: 2px solid rgba(0,0,0,0.1);
		background: rgba(0,0,0,0.05);
		height:2.5rem;
		line-height: 2.5rem;
		vertical-align: middle;
		text-align: center;
		padding: 0 0.5rem;
		color: rgba(0,0,0,0.5);
		font-size: 1.5rem;
		transition: 0.2s border-bottom-color;
	}
}
.tagRight:focus-within{
	*:last-child:not(button):not(.inputLabel){
		border-bottom-color: var(--main-color-forinput) !important;
		color: var(--main-color-forinput) !important;
	}
}

input[type="password"]{
	color: var(--main-color-forinput);

	&::placeholder{
		color:var(--text-base);
	}
}



input+.emptyInput,
input+.inputLabel+.emptyInput{
	@extend %inputFieldHelper;	

	&::after{
		content: '×';		
	}
}
input+.showPwd,
input+.inputLabel+.showPwd{
	@extend %inputFieldHelper;	
	font-size: 1rem;

	&::after{
		content: '👁';		
	}
}
input[type="text"]+.showPwd,
input[type="text"]+.inputLabel+.showPwd{
	background: var(--main-color-forinput);
	color: var(--main-text-cl);
}






input[type="checkbox"]{


	&+.switch{

	}

	&:checked+.switch{
		&+.inputLabel{
			left:50%;
			opacity:0;
		}
	}
	&:not(:checked)+.switch{
		&+.inputLabel{
			&+.inputLabel{
				right:50%;
				opacity:0;
			}
		}
	}

}

[contenteditable]{

	&:active,
	&:focus{
		outline: 1px solid var(--main-color-forinput) !important;
		box-shadow: 0 0 5px var(--main-color-forinput);
	}
}