@charset "UTF-8";
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFW50bbck.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  --background-base: #fff;
  --background-base-darker: #f9f9f9;
  --text-base: #080808;
  --info: dodgerblue;
  --info-lighter: #f0f0f0;
  --success: #158724;
  --success-lighter: #d4edda;
  --warning: darkorange;
  --warning-lighter: #fff3cd;
  --alert: #a21c24;
  --alert-lighter: #f8d7da;
}

body {
  --main-color: #7824c7;
  --main-color-lighter: #b05cff;
  --main-text-cl: #fff;
  --main-text-cl-darker: #ddd;
  --button-greyedout: #bbb;
}

body {
  /*- other variables -*/
  --input-border-bottom: 2px;
}
body.dark-mode {
  --background-base: #181818;
  --background-base-darker: #0a0a0a;
  --text-base: #fcfcfc;
  --info: dodgerblue;
  --info-lighter: #f0f0f0;
  --success: #25b734;
  --success-lighter: #d4edda;
  --warning: orange;
  --warning-lighter: #fff3cd;
  --alert: #f23c44;
  --alert-lighter: #f8d7da;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-base: #181818;
    --background-base-darker: #0a0a0a;
    --text-base: #fcfcfc;
    --info: dodgerblue;
    --info-lighter: #f0f0f0;
    --success: #25b734;
    --success-lighter: #d4edda;
    --warning: orange;
    --warning-lighter: #fff3cd;
    --alert: #f23c44;
    --alert-lighter: #f8d7da;
  }
}
:root {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  text-spacing: trim-start allow-end trim-adjacent ideograph-alpha ideograph-numeric;
  line-sizing: normal;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background: var(--background-base);
  color: var(--text-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: border-box;
  text-transform: none;
}

::selection {
  background: var(--main-color);
  color: var(--main-text-cl);
  opacity: 0.85;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
  }
}
h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2rem;
  margin: 0.67rem 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

pre {
  font-family: monospace, monospace;
  font-size: 1rem;
  white-space: pre-wrap;
}

p, ul, ol, dl, address {
  line-height: 1.5;
}

kbd, samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

a {
  background-color: transparent;
  color: var(--main-color);
  text-decoration: none;
}

a:visited {
  color: var(--button-greyedout);
}

a:hover, a:active {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

img, video, canvas, audio, iframe, embed, object, main, details {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

img {
  border-style: none;
}

nav ul {
  list-style: none;
}

summary {
  display: list-item;
}

template {
  display: none;
}

table caption {
  font-size: 115%;
  font-weight: bold;
  text-align: left;
  background: var(--main-color-lighter);
  color: var(--main-text-cl);
  line-height: 1;
  border-radius: 2px 2px 0 0;
  padding: 0.5rem 0.25rem;
}
table tr {
  border-spacing: 0;
}
table tr th, table tr td {
  padding: 0.75rem 0 0.75rem 0.75rem;
}
table tr th {
  background: var(--background-base-darker);
  text-align: left;
}
table tbody > tr:nth-child(2n) > td {
  background: var(--background-base-darker);
}
table td[contenteditable]:active,
table td[contenteditable]:focus {
  outline-color: var(--info);
}
table.pivot tbody tr td:first-child {
  font-weight: bold;
  background: var(--background-base-darker);
  text-align: left;
}

form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
form fieldset {
  padding: 0.35rem 0.75rem 0.625rem;
  border-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
}
form fieldset legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  font-size: 120%;
  line-height: 1.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0 1.5rem 0;
  width: 100%;
  text-indent: 1rem;
}

::-webkit-file-upload-button, button,
input[type=button],
input[type=reset],
input[type=submit],
.button {
  -webkit-appearance: button;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: 0;
  line-height: 2;
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  background: var(--main-color);
  color: var(--main-text-cl);
  font-weight: bold;
  letter-spacing: 1px;
}
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
.button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring::-webkit-file-upload-button, button:-moz-focusring,
input[type=button]:-moz-focusring,
input[type=reset]:-moz-focusring,
input[type=submit]:-moz-focusring,
.button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:focus::-webkit-file-upload-button, button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
.button:focus {
  outline: 1px solid var(--button-greyedout);
  outline-offset: 1px;
}
[disabled]::-webkit-file-upload-button, button[disabled],
input[disabled][type=button],
input[disabled][type=reset],
input[disabled][type=submit],
[disabled].button {
  cursor: not-allowed;
  filter: grayscale(0.75) opacity(0.5);
}
:not([disabled])::-webkit-file-upload-button, button:not([disabled]),
input[type=button]:not([disabled]),
input[type=reset]:not([disabled]),
input[type=submit]:not([disabled]),
.button:not([disabled]) {
  cursor: pointer;
}
:not([disabled]):active::-webkit-file-upload-button, button:not([disabled]):active,
input[type=button]:not([disabled]):active,
input[type=reset]:not([disabled]):active,
input[type=submit]:not([disabled]):active,
.button:not([disabled]):active {
  transform: translate(0, 2px);
}
.secondary::-webkit-file-upload-button, button.secondary,
input.secondary[type=button],
input.secondary[type=reset],
input.secondary[type=submit],
.secondary.button {
  background: var(--main-text-cl);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.main::-webkit-file-upload-button, button.main,
input.main[type=button],
input.main[type=reset],
input.main[type=submit],
.main.button {
  width: 100%;
}
.success::-webkit-file-upload-button, button.success,
input.success[type=button],
input.success[type=reset],
input.success[type=submit],
.success.button {
  background: var(--success);
  color: var(--success-lighter);
}
.warning::-webkit-file-upload-button, button.warning,
input.warning[type=button],
input.warning[type=reset],
input.warning[type=submit],
.warning.button {
  background: var(--warning);
  color: var(--warning-lighter);
}
.alert::-webkit-file-upload-button, button.alert,
input.alert[type=button],
input.alert[type=reset],
input.alert[type=submit],
.alert.button {
  background: var(--alert);
  color: var(--alert-lighter);
}

::-webkit-file-upload-button {
  line-height: 1.75;
}

select, textarea, input[type=text], input[type=number], input[type=date], input[type=datetime-local], input[type=email], input[type=url], input[type=password], input[type=search], input[type=tel], input[type=file], input[type=color] {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
  border-color: transparent;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 1rem;
  line-height: 2;
  border-radius: 2px 2px 0 0;
  width: 100%;
  box-sizing: border-box;
  border-width: 0 0 var(--input-border-bottom) 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  caret-color: var(--main-color);
  transition: 0.2s border-bottom-color;
}
select:focus, textarea:focus, input[type=text]:focus, input[type=number]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=file]:focus, input[type=color]:focus {
  outline: none;
}
select:focus:not([readonly]), textarea:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=file]:focus:not([readonly]), input[type=color]:focus:not([readonly]) {
  border-color: var(--main-color);
}
select:focus:not([readonly])::placeholder, textarea:focus:not([readonly])::placeholder, input[type=text]:focus:not([readonly])::placeholder, input[type=number]:focus:not([readonly])::placeholder, input[type=date]:focus:not([readonly])::placeholder, input[type=datetime-local]:focus:not([readonly])::placeholder, input[type=email]:focus:not([readonly])::placeholder, input[type=url]:focus:not([readonly])::placeholder, input[type=password]:focus:not([readonly])::placeholder, input[type=search]:focus:not([readonly])::placeholder, input[type=tel]:focus:not([readonly])::placeholder, input[type=file]:focus:not([readonly])::placeholder, input[type=color]:focus:not([readonly])::placeholder {
  opacity: 0;
}
select:focus:not([readonly]) + .inputLabel, textarea:focus:not([readonly]) + .inputLabel, input[type=text]:focus:not([readonly]) + .inputLabel, input[type=number]:focus:not([readonly]) + .inputLabel, input[type=date]:focus:not([readonly]) + .inputLabel, input[type=datetime-local]:focus:not([readonly]) + .inputLabel, input[type=email]:focus:not([readonly]) + .inputLabel, input[type=url]:focus:not([readonly]) + .inputLabel, input[type=password]:focus:not([readonly]) + .inputLabel, input[type=search]:focus:not([readonly]) + .inputLabel, input[type=tel]:focus:not([readonly]) + .inputLabel, input[type=file]:focus:not([readonly]) + .inputLabel, input[type=color]:focus:not([readonly]) + .inputLabel {
  left: 0;
  top: -0.5rem;
  font-size: 80%;
  color: var(--main-color);
}
select::placeholder, textarea::placeholder, input[type=text]::placeholder, input[type=number]::placeholder, input[type=date]::placeholder, input[type=datetime-local]::placeholder, input[type=email]::placeholder, input[type=url]::placeholder, input[type=password]::placeholder, input[type=search]::placeholder, input[type=tel]::placeholder, input[type=file]::placeholder, input[type=color]::placeholder {
  font-weight: 500;
  transition: 0.2s all;
}
select + .inputLabel, textarea + .inputLabel, input[type=text] + .inputLabel, input[type=number] + .inputLabel, input[type=date] + .inputLabel, input[type=datetime-local] + .inputLabel, input[type=email] + .inputLabel, input[type=url] + .inputLabel, input[type=password] + .inputLabel, input[type=search] + .inputLabel, input[type=tel] + .inputLabel, input[type=file] + .inputLabel, input[type=color] + .inputLabel {
  position: absolute;
  left: 1rem;
  top: 1rem;
  line-height: 2;
  font-weight: 500;
  transition: 0.2s all;
}
select:not(:focus):not([readonly]):placeholder-shown + .inputLabel, textarea:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=text]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=number]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=date]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=datetime-local]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=email]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=url]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=password]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=search]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=tel]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=file]:not(:focus):not([readonly]):placeholder-shown + .inputLabel, input[type=color]:not(:focus):not([readonly]):placeholder-shown + .inputLabel {
  opacity: 0;
}
select:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, textarea:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=text]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=number]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=date]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=datetime-local]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=email]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=url]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=password]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=search]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=tel]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=file]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel, input[type=color]:not(:focus):not([readonly]):not(:placeholder-shown) + .inputLabel {
  left: 0;
  top: -0.5rem;
  font-size: 80%;
  color: var(--main-color);
}

input + .showPwd,
input + .inputLabel + .showPwd, input + .emptyInput,
input + .inputLabel + .emptyInput {
  display: inline-block;
  height: 1.625rem;
  width: 1.625rem;
  background: rgba(0, 0, 0, 0.025);
  border-radius: 50%;
  float: right;
  margin-top: -2rem;
  margin-right: 1rem;
  z-index: 2;
  position: relative;
  transition: 0.15s background-color ease-out;
  color: var(--text-base);
  text-align: center;
  line-height: 1.625rem;
  font-size: 1.5rem;
  cursor: pointer;
}
input + .showPwd:hover,
input + .inputLabel + .showPwd:hover, input + .emptyInput:hover,
input + .inputLabel + .emptyInput:hover {
  background: rgba(0, 0, 0, 0.1);
}

input[type=radio], input[type=checkbox] {
  box-sizing: border-box;
  display: inline;
  float: left;
  width: 1px;
  height: 1px;
  padding: 0;
  opacity: 0.001;
}

input[type=text], input[type=number], input[type=date], input[type=datetime-local], input[type=email], input[type=url], input[type=password], input[type=search], input[type=tel], input[type=file], input[type=color] {
  height: 2.5rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 2.5rem;
}
select option {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select option:checked {
  background: var(--main-text-cl-darker);
}
select option:hover {
  box-shadow: inset 0 0 100px var(--main-color);
}
select + .selectHint, select + .inputLabel + .selectHint {
  display: inline-block;
  height: 1.857em;
  width: 1.857em;
  background: transparent;
  border-radius: 50%;
  float: right;
  margin-top: -2.057rem;
  margin-right: 1.5rem;
  position: relative;
  z-index: -1;
  transition: 0.15s background-color ease-out;
}
select + .selectHint::after, select + .inputLabel + .selectHint::after {
  content: "";
  background: transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 5px;
  border-style: solid;
  border-width: 9px 5px 9px 5px;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
  margin-top: 4px;
}
select:hover + .selectHint, select:hover + .inputLabel + .selectHint {
  background: rgba(0, 0, 0, 0.1);
}
select:active + .selectHint, select:active + .inputLabel + .selectHint {
  background-color: rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  position: relative;
  padding: 0.75rem 0;
}
label.required .inputLabel::after {
  content: "*";
}

input[type=checkbox] + .check {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  border: 2px solid rgba(0, 0, 0, 0.33);
  vertical-align: middle;
  position: relative;
}
input[type=checkbox] + .check::after {
  content: "";
  display: inline-block;
  height: 0.4rem;
  width: 0.7rem;
  border-left: 0.2rem solid var(--main-text-cl);
  border-bottom: 0.2rem solid var(--main-text-cl);
  transform: rotate(-45deg);
  top: 0.15rem;
  left: 0.1rem;
  position: absolute;
}
input[type=checkbox] + .check + .inputLabel {
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
}
input[type=checkbox] + .switch {
  display: inline-block;
  line-height: 1;
  height: 1rem;
  width: 2rem;
  outline: 2px solid var(--main-color);
  background: var(--main-text-cl);
  vertical-align: middle;
}
input[type=checkbox] + .switch::after {
  display: inline-block;
  content: "";
  line-height: 1;
  width: 0.7rem;
  height: 1rem;
  background: var(--main-color);
  outline: 0.1rem solid var(--main-color-lighter);
  transition: 0.1s transform ease-out;
}
input[type=checkbox] + .switch + .inputLabel {
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
}
input[type=checkbox]:checked + .switch {
  background-color: var(--main-color-lighter);
}
input[type=checkbox]:checked + .switch::after {
  transform: translate(1.3rem, 0);
}
input[type=checkbox]:checked + .switch + .inputLabel {
  color: var(--main-color);
  border-bottom-color: var(--main-color);
}
input[type=checkbox]:checked + .check {
  background: var(--main-color);
  border-color: var(--main-color);
}
input[type=checkbox]:checked + .check + .inputLabel {
  color: var(--main-color);
  border-bottom-color: var(--main-color);
}
input[type=checkbox]:not(:checked) + .check::after {
  opacity: 0;
}
input[type=checkbox]:focus + .check {
  outline: 3px solid var(--button-greyedout-lighter);
}
input[type=checkbox][disabled] + .check,
input[type=checkbox][disabled] + .switch {
  filter: grayscale(0.75) opacity(0.5);
}

input[type=radio] + .radio {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  border: 2px solid rgba(0, 0, 0, 0.33);
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
}
input[type=radio] + .radio::after {
  display: inline-block;
  content: "";
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
  font-weight: 500;
  text-align: center;
  color: var(--main-text-cl);
  width: 1rem;
  height: 1rem;
  line-height: 1;
  vertical-align: super;
  transition: 0.1s all ease-out;
}
input[type=radio] + .radio + .inputLabel {
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
}
input[type=radio]:checked + .radio {
  background: var(--main-color-lighter);
  border-color: var(--main-color);
}
input[type=radio]:checked + .radio + .inputLabel {
  color: var(--main-color);
  border-bottom-color: var(--main-color);
}
input[type=radio]:not(:checked) + .radio::after {
  opacity: 0;
}
input[type=radio]:focus + .radio {
  border: 3px solid var(--button-greyedout-lighter);
}
input[type=radio][disabled] + .radio {
  filter: grayscale(0.75) opacity(0.5);
}

input[type=range]::-webkit-slider-thumb {
  display: block;
  position: relative;
  width: 1rem;
  height: 1.5rem;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none !important;
  appearance: none !important;
  outline: none;
  width: 100%;
  margin-top: 1.25rem;
  height: 1.25rem;
  background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 10px, rgba(0, 0, 0, 0.25) 10px, rgba(0, 0, 0, 0.25) 11px);
  border-radius: 2px 2px 0 0;
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  border-color: transparent transparent var(--main-color-lighter) transparent;
  border-style: solid;
  border-width: 0 0 2px 0;
  /* still not supported */
  /*&::before{
  	color: var(--text-base);
  	margin-left: 0.5rem;
  	float:left;
  	z-index:2;
  	content: attr(min);
  }
  &::after{
  	color: var(--text-base);
  	margin-right:0.5rem;
  	float:right;
  	z-index:2;
  	content: attr(max);
  }*/
  /*&::-moz-range-thumb{
  	-moz-appearance: none;
  	@extend %rangeThumb;
  }*/
}
input[type=range]:hover {
  opacity: 1;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range] + .inputLabel {
  position: absolute;
  line-height: 2;
  font-weight: 500;
  left: 0;
  top: 0;
  font-size: 80%;
  color: var(--main-color);
}

input[type=number]:not(.no-buttons)::-webkit-inner-spin-button, input[type=number]:not(.no-buttons)::-webkit-outer-spin-button {
  height: 2.5rem;
  cursor: pointer;
}
input[type=number].no-buttons {
  -moz-appearance: textfield;
}
input[type=number].no-buttons::-webkit-inner-spin-button, input[type=number].no-buttons::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-cancel-button {
  display: none;
}

input[type=date],
input[type=datetime-local] {
  height: 2.5rem;
}
input[type=date]::-webkit-clear-button, input[type=date]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-clear-button,
input[type=datetime-local]::-webkit-inner-spin-button {
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.1);
  background: transparent;
  opacity: 1;
  transition: 0.15s background-color ease-out;
}
input[type=date]::-webkit-calendar-picker-indicator:active,
input[type=datetime-local]::-webkit-calendar-picker-indicator:active {
  filter: brightness(0.85);
}
input[type=date]:hover::-webkit-calendar-picker-indicator,
input[type=datetime-local]:hover::-webkit-calendar-picker-indicator {
  background: rgba(0, 0, 0, 0.1);
}

input[type=file] {
  height: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  padding-left: 0;
}
input[type=file].dropArea {
  height: 12.5rem;
  background: radial-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05));
  border: 2px solid rgba(0, 0, 0, 0.1);
}
input[type=file].dropArea::-webkit-file-upload-button {
  opacity: 0;
}

input[type=color] {
  height: 2.5rem;
  padding: 0.35rem;
  cursor: pointer;
  /*currently not supported*/
  /*&::after{
  	content: attr(value);
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      left: 0;
      top: 8px;
      z-index: 2;
      color: var(--text-base);
  	content: attr(value);
  }*/
}
input[type=color]::-webkit-color-swatch, input[type=color]::-moz-color-swatch {
  content: attr(value);
  border-radius: 0.5rem;
  height: 1.8rem;
  display: inline-block;
  float: left;
  border: 2px solid var(--button-greyedout);
}
input[type=color]:focus::-webkit-color-swatch, input[type=color]:focus::-moz-color-swatch {
  border-color: var(--main-color);
}

.tagLeft {
  display: grid;
  grid-template-columns: min-content auto;
}
.tagLeft > input {
  border-top-left-radius: 0;
}
.tagLeft > :first-child:not(input):not(button):not(.button):not(.inputLabel) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  height: 2.5rem;
  line-height: 2.5rem;
  vertical-align: middle;
  text-align: center;
  padding: 0 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  transition: 0.2s border-bottom-color;
}
.tagLeft > button:first-child,
.tagLeft > input[type=button]:first-child,
.tagLeft > input[type=reset]:first-child,
.tagLeft > input[type=submit]:first-child,
.tagLeft > .button:first-child {
  margin-top: 0.75rem;
  height: 2.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tagLeft:focus-within :first-child:not(button):not(.inputLabel) {
  border-bottom-color: var(--main-color) !important;
  color: var(--main-color) !important;
}

.tagRight {
  display: grid;
  grid-template-columns: auto min-content;
}
.tagRight.tagLeft {
  grid-template-columns: min-content auto min-content;
}
.tagRight > input {
  border-top-right-radius: 0;
}
.tagRight > button:last-child,
.tagRight > input[type=button]:last-child,
.tagRight > input[type=reset]:last-child,
.tagRight > input[type=submit]:last-child,
.tagRight > .button:last-child {
  margin-top: 0.75rem;
  height: 2.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tagRight > :last-child:not(input):not(button):not(.button):not(.inputLabel) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  height: 2.5rem;
  line-height: 2.5rem;
  vertical-align: middle;
  text-align: center;
  padding: 0 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  transition: 0.2s border-bottom-color;
}

.tagRight:focus-within *:last-child:not(button):not(.inputLabel) {
  border-bottom-color: var(--main-color) !important;
  color: var(--main-color) !important;
}

input[type=password] {
  color: var(--main-color);
}
input[type=password]::placeholder {
  color: var(--text-base);
}

input + .emptyInput::after,
input + .inputLabel + .emptyInput::after {
  content: "×";
}

input + .showPwd,
input + .inputLabel + .showPwd {
  font-size: 1rem;
}
input + .showPwd::after,
input + .inputLabel + .showPwd::after {
  content: "👁";
}

input[type=text] + .showPwd,
input[type=text] + .inputLabel + .showPwd {
  background: var(--main-color);
  color: var(--main-text-cl);
}

[hidden], .hidden {
  display: none !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.w1 {
  width: 100%/12;
}

.w2 {
  width: 100%/6;
}

.w3 {
  width: 25%;
}

.w4 {
  width: 100%/3;
}

.w5 {
  width: 41.6666666667%;
}

.w6 {
  width: 50%;
}

.w7 {
  width: 58.3333333333%;
}

.w8 {
  width: 66.6666666667%;
}

.w9 {
  width: 75%;
}

.w10 {
  width: 83.3333333333%;
}

.w11 {
  width: 91.6666666667%;
}

.w12 {
  width: 100%;
}

.m1 {
  margin-left: 8.333333%;
}

.m2 {
  margin-left: 16.666667%;
}

.m3 {
  margin-left: 25%;
}

.m4 {
  margin-left: 33.333333%;
}

.m5 {
  margin-left: 41.6666666667%;
}

.m6 {
  margin-left: 50%;
}

.m7 {
  margin-left: 58.3333333333%;
}

.m8 {
  margin-left: 66.6666666667%;
}

.m9 {
  margin-left: 75%;
}

.m10 {
  margin-left: 83.3333333333%;
}

.m11 {
  margin-left: 91.6666666667%;
}

.m12 {
  margin-left: 100%;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.p30 {
  padding: 30px;
}

.p40 {
  padding: 40px;
}

.p50 {
  padding: 50px;
}

.cols2, .cols3, .cols4, .cols5, .cols6 {
  display: grid;
  grid-gap: 0.715rem;
  padding: 0.715rem;
}

.cols2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols3 {
  grid-template-columns: repeat(3, 1fr);
}

.cols4 {
  grid-template-columns: repeat(4, 1fr);
}

.cols5 {
  grid-template-columns: repeat(5, 1fr);
}

.cols6 {
  grid-template-columns: repeat(6, 1fr);
}

.cols2 > *, .cols3 > *, .cols4 > *, .cols5 > *, .cols6 > * {
  overflow: hidden;
}

.shadow1 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.shadow2 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.shadow3 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
}

.shadow4 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
}

.shadow5 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.shadow6 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.1);
}

.shadow7 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.1), 0 64px 64px rgba(0, 0, 0, 0.1);
}

.app_header {
  position: sticky;
  z-index: 9999999;
  top: 0;
  width: 100%;
  height: 4rem;
  background: var(--main-color);
  color: var(--main-text-cl);
  display: grid;
  grid-template-columns: 4rem auto 4rem;
  padding: 0 1rem;
}
.app_header * {
  overflow: hidden;
}
.app_header *.app-menu-btn {
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.app_header *.app-menu-btn::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--main-text-cl);
  clip-path: polygon(10% 30%, 90% 30%, 90% 35%, 10% 35%, 10% 50%, 90% 50%, 90% 55%, 10% 55%, 10% 70%, 90% 70%, 90% 75%, 10% 75%);
}
.app_header *.app-menu-btn:active::after {
  opacity: 0.5;
}

.box-alert, .box-warning, .box-success, .box-info {
  display: block;
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0 1rem 0.75rem 1rem;
  border: 1px solid transparent;
  border-radius: 2px;
  min-height: 2.15rem;
  cursor: default;
}
.box-alert::before, .box-warning::before, .box-success::before, .box-info::before {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  min-height: 30px;
  width: 30px;
  font-size: 20px;
  font-family: monospace;
  border-bottom-right-radius: 3px;
  font-weight: bold;
  margin-left: -1rem;
}

.box-info {
  background-color: var(--info-lighter);
  color: var(--info);
  border-color: var(--info);
}

.box-success {
  background-color: var(--success-lighter);
  color: var(--success);
  border-color: var(--success);
}

.box-warning {
  background-color: var(--warning-lighter);
  color: var(--warning);
  border-color: var(--warning);
}

.box-alert {
  background-color: var(--alert-lighter);
  color: var(--alert);
  border-color: var(--alert);
}

.box-info::before {
  content: "?";
  background: var(--info);
  color: var(--info-lighter);
}

.box-success::before {
  content: "✓";
  background: var(--success);
  color: var(--success-lighter);
}

.box-warning::before {
  content: "!";
  background: var(--warning);
  color: var(--warning-lighter);
}

.box-alert::before {
  content: "×";
  background: var(--alert);
  color: var(--alert-lighter);
}

.box-info button {
  background: var(--info);
}

.box-success button {
  background: var(--success);
}

.box-warning button {
  background: var(--warning);
}

.box-alert button {
  background: var(--alert);
}

.text-info,
.text-success,
.text-warning,
.text-alert,
.text-main {
  display: inline-block;
}

.text-info {
  color: var(--info);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--warning);
}

.text-alert {
  color: var(--alert);
}

.text-main {
  color: var(--main-color);
}

.fill-info {
  background-color: var(--info) !important;
  color: var(--info-lighter) !important;
}

.fill-success {
  background-color: var(--success) !important;
  color: var(--success-lighter) !important;
}

.fill-warning {
  background-color: var(--warning) !important;
  color: var(--warning-lighter) !important;
}

.fill-alert {
  background-color: var(--alert) !important;
  color: var(--alert-lighter) !important;
}

.fill-main {
  background-color: var(--main-color) !important;
  color: var(--main-text-cl) !important;
}

.tag-main, .tag-alert, .tag-warning, .tag-success, .tag-info {
  line-height: 1;
  padding: 1px 3px 3px 3px;
  font-size: 75%;
  border-radius: 3px;
  margin: 0.25rem 0.1rem;
  font-weight: bold;
}
.tag-main::before, .tag-alert::before, .tag-warning::before, .tag-success::before, .tag-info::before {
  content: "#";
}

.tag-info {
  color: var(--info-lighter);
  background: var(--info);
}

.tag-success {
  color: var(--success-lighter);
  background: var(--success);
}

.tag-warning {
  color: var(--warning-lighter);
  background: var(--warning);
}

.tag-alert {
  color: var(--alert-lighter);
  background: var(--alert);
}

.tag-main {
  color: var(--main-text-cl);
  background: var(--main-color);
}

.card {
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 0.75em;
  margin-top: 1.5em;
  padding: 0;
  /*box-shadow: 0 0.75em 0.5em rgba(0,0,0,0.175);*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11);
  background: var(--background-base);
  color: var(--text-base);
  display: grid;
  overflow: hidden;
}
.card .card_title {
  font-weight: 100;
  background: var(--main-color);
  color: var(--main-text-cl);
  width: 100%;
  line-height: 1;
  padding: 10px;
  border-radius: 0 0 2px 2px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 22px;
  text-align: center;
  margin: 0;
  grid-row-start: 2;
  opacity: 0.85;
}
.card .card_content {
  padding: 0.5em;
  padding-bottom: 1.5em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.card .card_content img:first-child {
  border-radius: 3px 3px 0 0;
}
.card .card_content article {
  font-style: italic;
  margin-top: 0.75rem;
}

.codeArea, code {
  font-family: monospace, monospace;
  font-size: 1rem;
  letter-spacing: -1px;
}

code {
  display: inline-block;
}

.codeArea {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  border-left: 3px solid var(--main-color);
  counter-reset: codeArea;
}
.codeArea .row {
  counter-increment: codeArea;
  display: block;
  width: 100%;
  height: 1.15rem;
  white-space: pre-wrap;
}
.codeArea .row .comment {
  opacity: 0.5;
}
.codeArea .row::before {
  content: counter(codeArea);
  width: 1rem;
  display: inline-block;
  height: 1.15rem;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.15rem;
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.35);
}

.pwa_dialog_backDrop {
  position: fixed;
  z-index: 2000000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

body.dark-mode .pwa_dialog_backDrop {
  background: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  .pwa_dialog_backDrop {
    background: rgba(255, 255, 255, 0.1);
  }
}
.pwa_dialog {
  position: fixed;
  z-index: 2000000001;
  left: 50%;
  top: 50%;
  width: 85%;
  max-height: 85%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background: var(--background-base);
  color: var(--text-base);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.pwa_dialog .pwa_dialog_topBar {
  height: 30px;
  display: grid;
  grid-template-columns: auto 50px;
}
.pwa_dialog .pwa_dialog_topBar .pwa_dialog_title {
  padding-top: 10px;
  padding-left: 10px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: default;
}
.pwa_dialog .pwa_dialog_topBar .pwa_dialog_topBtns .pwa_dialog_topCross {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  background: var(--background-base-darker);
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.pwa_dialog .pwa_dialog_topBar .pwa_dialog_topBtns .pwa_dialog_topCross::after {
  content: "×";
}
.pwa_dialog .pwa_dialog_topBar .pwa_dialog_topBtns .pwa_dialog_topCross:active {
  background: var(--background-base);
}
.pwa_dialog .pwa_dialog_body {
  margin-top: 20px;
  padding: 10px;
}

.pwa_notif {
  position: fixed;
  max-width: 90%;
  background: linear-gradient(45deg, var(--main-color), var(--main-color-lighter));
  color: var(--main-text-cl);
  min-width: 15rem;
  border-radius: 3px;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content auto;
  grid-gap: 0.17rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11);
}
.pwa_notif.notif_top {
  top: 5rem;
}
.pwa_notif.notif_bottom {
  bottom: 5rem;
}
.pwa_notif.notif_vertCenter {
  top: 50%;
  transform: translateY(-50%);
}
.pwa_notif.notif_right {
  right: 3rem;
}
.pwa_notif.notif_left {
  left: 3rem;
}
.pwa_notif.notif_horizCenter {
  left: 50%;
  transform: translateX(-50%);
}
.pwa_notif .pwa_notif_head {
  display: grid;
  grid-template-columns: auto min-content;
}
.pwa_notif .pwa_notif_head .pwa_notif_title {
  font-weight: bold;
  line-height: 1;
  padding: 0.33rem;
}
.pwa_notif .pwa_notif_head .pwa_notif_close {
  font-size: 1.5rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s background-color ease-out;
}
.pwa_notif .pwa_notif_head .pwa_notif_close::after {
  content: "×";
}
.pwa_notif .pwa_notif_head .pwa_notif_close:hover {
  background: rgba(0, 0, 0, 0.1);
}
.pwa_notif .pwa_notif_body {
  padding: 0 0.5rem 0.5rem 0.33rem;
  font-style: italic;
}

.number-tip {
  display: inline-block;
  line-height: 1rem;
  background: var(--info) linear-gradient(45deg, rgba(0, 0, 0, 0.1), transparent);
  color: var(--info-lighter);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75rem;
  vertical-align: 0.1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11);
  padding: 0.075rem 0.25rem;
  min-width: 1.1rem;
  overflow: hidden;
}

.message {
  background: var(--button-greyedout);
  padding: 0.5rem;
  border-radius: 1rem;
  display: block;
  margin: 3px 0.5rem 0 0.5rem;
}
.message.pull-left {
  clear: both;
  border-radius: 3px 1rem 1rem 3px;
}
.message.pull-left:first-child:not(:last-child) {
  border-top-left-radius: 1rem;
}
.message.pull-left:last-child:not(:first-child) {
  border-bottom-left-radius: 1rem;
}
.message.pull-right {
  clear: both;
  border-radius: 1rem 3px 3px 1rem;
}
.message.pull-right:first-child:not(:last-child) {
  border-top-right-radius: 1rem;
}
.message.pull-right:last-child:not(:first-child) {
  border-bottom-right-radius: 1rem;
}

/*# sourceMappingURL=jammer.css.map */
